@import url("./fonts/playwrite_de_grund.css");
@import url("./fonts/quicksand.css");

:root {
    --text: #e9fbfa;
    --text-darker-1: oklch(from var(--text) calc(l - 0.05) c h);
    --text-darker-2: oklch(from var(--text) calc(l - 0.1) c h);
    --background: #061c1d;
    --background-lighter-0: oklch(from var(--background) calc(l + 0.025) c h);
    --background-lighter-1: oklch(from var(--background) calc(l + 0.05) c h);
    --background-lighter-2: oklch(from var(--background) calc(l + 0.1) c h);
    --background-lighter-3: oklch(from var(--background) calc(l + 0.15) c h);
    --background-darker-0: oklch(from var(--background) calc(l - 0.025) c h);
    --background-darker-1: oklch(from var(--background) calc(l - 0.05) c h);
    --background-darker-2: oklch(from var(--background) calc(l - 0.1) c h);
    --primary: #26e2e5;
    --primary-darker-1: oklch(from var(--primary) calc(l - 0.05) c h);
    --primary-darker-2: oklch(from var(--primary) calc(l - 0.1) c h);
    --on-primary: #061c1d;
    --secondary: #175275;
    --secondary-darker-1: oklch(from var(--secondary) calc(l - 0.05) c h);
    --secondary-darker-2: oklch(from var(--secondary) calc(l - 0.1) c h);
    --accent: #39d976;
    --accent-darker-1: oklch(from var(--accent) calc(l - 0.05) c h);
    --accent-darker-2: oklch(from var(--accent) calc(l - 0.1) c h);
    --on-accent: #061d0f;
    --error: #ff4c82;

    --font-header: "Playwrite DE Grund", sans-serif;
    --font-body: "Quicksand", sans-serif;

    color: var(--text);
    background-color: var(--background);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

input,
button {
    outline: none;
}

input[type="text"],
input[type="color"] {
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    background-color: var(--background-lighter-2);
    color: var(--text);
}
input[type="color"] {
    padding: 0;
    min-width: 40px;
}

input[type="range"] {
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background: var(--background-lighter-3);
}
input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: var(--primary);
    cursor: pointer;
    border: none;
}